/* Import fonts */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");

/* ------------------------------------ */

/* Null */

* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

textarea {
	resize: none;
}

/* ------------------------------------ */

/* Config */

::-webkit-scrollbar {
	width: 10px;
	height: 7px;
}

::-webkit-scrollbar-track {
	background-color: var(--primary);
}

::-webkit-scrollbar-thumb {
	background-color: var(--bg-dark);
}

body {
	font-family: "Inter", sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

[class*="container"] {
	max-width: 1388px;
	margin: 0px auto;
	padding: 10px;
}

.main {
	flex: 1 1 auto;
}

:root {
	--primary: #ffc13e;
	--primary-hover: #f7a800;
	--text-dark: #000000;
	--text-hover: #1a1717be;
	--text-light: #ffffff;
	--bg-light: #f7faff;
	--bg-dark: #14212a;
}

/* ------------------------------------ */

/* Often */

.button {
	background: #ffc13e;
	padding: 12px 15px;
	display: flex;
	gap: 13px;
	transition: all 0.3s ease 0s;
}

.button:hover {
	background: var(--primary-hover);
}

.button_dark {
	color: var(--text-light);
	background: #000000;
	padding: 12px 15px;
	display: flex;
	gap: 13px;
	transition: all 0.3s ease 0s;
}

.button_dark:hover {
	background: #161515e7;
}

.subtitle {
	padding: 0px 0px 0px 15px;
	position: relative;
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.25;
	color: var(--text-dark);
}

.subtitle::before {
	content: "";
	display: block;
	height: 100%;
	width: 2px;
	background-color: var(--primary);
	position: absolute;
	top: 0;
	left: 0;
}

.title {
	font-weight: 600;
	font-size: 1.9rem;
	line-height: 1.23;
}

.text {
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.4;
	color: var(--text-dark);
}

/* ------------------------------------ */

/* Header */

.header {
	padding: 15px 0px;
	position: relative;
	z-index: 10;
	background: var(--bg-light);
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__nav {
	display: flex;
	gap: 10px 30px;
}
.header__link {
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 1.5;
	color: var(--text-dark);
	transition: all 0.3s ease 0s;
}

.header__link:hover {
	color: var(--text-hover);
}

.header__search {
	border-radius: 25px;
}

.header__search span {
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.25;
	color: var(--text-dark);
}

/* ------------------------------------ */

/* Present */

.present {
	background: var(--bg-light);
}
.present__container {
	padding: 100px 70px;
	display: flex;
	align-items: center;
	gap: 130px;
	justify-content: space-between;
}
.present__subtitle {
	margin: 0px 0px 17px 0px;
}

.present__title {
	font-weight: 600;
	font-size: 3.5rem;
	line-height: 1.2;
	color: var(--text-dark);
}
.present__text {
	margin: 22px 0px;
}
.present__buttons {
	display: flex;
	gap: 16px;
}

.present__buttons button {
	border-radius: 7.5px;
}

.present__img {
	position: relative;
}

.present__img::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
	background: #ffc342b9;
	border-radius: 50%;
	width: 740px;
	height: 740px;
}
.present__img img {
	filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.1));
	border-radius: 50%;
}

.present__features {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	gap: 20px;
	padding: 10px;
	transform: translate(0, 50%);
}

.present__card {
	display: flex;
	align-items: center;
	padding: 10px 36px;
	background: #ffffff;
	gap: 30px;
}
.present__feature-text {
	white-space: nowrap;
}

/* ------------------------------------ */

/* About */

.about {
	padding: 120px 0px;
	background: #f5f5f5;
}
.about__container {
	display: flex;
	align-items: center;
	gap: 200px;
}
.about__body {
	flex: 0 1 577px;
}
.about__title {
	margin: 30px 0px 0px 0px;
}
.about__text {
	margin: 16px 0px;
}
.about__list {
	gap: 16px;
	display: flex;
	flex-direction: column;
}
.about__item {
	display: flex;
	gap: 16px;
}
.about__icon {
	padding: 5px;
	border-radius: 5px;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-self: start;
	background-color: var(--primary);
}
.about__img_1 {
	transform: translate(30%, 10%);
}
.about__img_2 {
	transform: translate(100%, -20%);
}

/* ------------------------------------ */

/* How it works */

.works {
	background-color: var(--bg-dark);
	padding: 60px 0px;
	position: relative;
	overflow: hidden;
}

.works::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: var(--primary);
	width: 300px;
	height: 170px;
	transform: translate(-60%, 65%) rotate(-35deg);
	border-radius: 50%;
}

.works__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.works__subtitle {
	font-weight: 700;
	color: #ffc13e;
}
.works__title {
	color: var(--text-light);
}
.works__cards {
	display: flex;
}
.works__card {
	display: flex;
	flex-direction: column;
}
.works__image {
	transform: rotate(10deg);
	margin: 65px auto;
}

.works__image_arc {
	border-radius: 50%;
}

.works__image_trapezoid {
	transform: skew(10deg) rotate(10deg);
}

.works__card-title {
	color: var(--text-light);
}
.works__card-text {
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 1.3;
	color: var(--text-light);
}

/* ------------------------------------ */

/* Our core services */

.services {
	text-align: center;
	padding: 60px 0px;
	background: #f5f5f5;
}
.services__title {
	margin: 0px 0px 66px 0px;
}
.services__list {
	display: flex;
	flex-wrap: wrap;
	gap: 80px;
}
.services__item {
	flex: 0 1 350px;
	background: #fff;
	box-shadow: 0px 4px 50px rgba(255, 193, 62, 0.15);
	border-radius: 25px;
	padding: 60px 37px;
}

.services__icon {
	width: 75px;
	height: 75px;
	border: 2px solid var(--primary);
	border-radius: 50%;
	padding: 15px;
	filter: drop-shadow(0px 0px 15px #ffc13e);
	margin: 0px auto;
}
.services__item img {
	width: 100%;
	height: 100%;
}
.services__item-title {
	margin: 20px 0px;
}

.services__button {
	margin: 30px auto 0px auto;
	border-radius: 25px;
}

/* ------------------------------------ */

/* Statistics */

.statistics {
	background-color: var(--bg-dark);
	padding: 35px 0px;
}
.statistics__container {
	display: flex;
	flex-wrap: wrap;
	gap: 80px;
}
.statistics__item {
	display: flex;
	gap: 36px;
}
.statistics__amount {
	color: var(--primary);
}
.statistics__name {
	color: var(--primary);
}

/* ------------------------------------ */

/* Why choose YourStart? */

.choose {
	padding: 60px 0px;
	background: #f5f5f5;
}
.choose__title {
	text-align: center;
	margin: 0px 0px 50px 0px;
}
.choose__text {
	text-align: center;
}
.choose__companies {
	display: flex;
	margin: 110px 0px 0px 0px;
	gap: 60px;
}
.choose__company {
	flex: 1 1 285px;
	padding: 36px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #ffffff;
	box-shadow: 0px 2px 50px rgba(255, 193, 62, 0.15);
	border-radius: 25px;
}
.choose__icon {
	width: 50px;
	height: 50px;
}
.choose__company-title {
	margin: 30px 0px;
	text-align: center;
}

/* ------------------------------------ */

/* Testimonials */

.testimonials {
	padding: 60px 0px;
	background: var(--bg-light);
}
.testimonials__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.testimonials__avatar {
	position: relative;
	display: inline-block;
	z-index: 0;
}

.testimonials__avatar::before {
	content: "";
	position: absolute;
	border-radius: 50%;
	background-color: var(--primary);
	width: 30px;
	height: 30px;
	bottom: 0;
	right: 0;
}

.testimonials__avatar::after {
	content: "";
	position: absolute;
	z-index: -1;
	border-radius: 50%;
	background-color: var(--bg-dark);
	width: 20px;
	height: 20px;
	top: 0;
	left: 3px;
}

.testimonials__avatar img {
	border: 5px solid #ffffff;
	filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.1));
	border-radius: 50px;
}

.testimonials__comment {
	background: #fff;
	border-radius: 5px;
	max-width: 862px;
	margin: 60px auto;
	padding: 40px;
}
.testimonials__rate {
	text-align: center;
	margin: 0px 0px 56px 0px;
}
.testimonials__comment-text {
	text-align: center;
}
.testimonials__authors {
	display: flex;
	justify-content: center;
	gap: 30px;
}
.testimonials__author {
	box-shadow: 0px 0px 50px rgba(255, 193, 62, 0.15);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	opacity: 0.1;
}

.testimonials__author:not(.testimonials__author_active):hover {
	opacity: 0.7;
}

.testimonials__author .text {
	margin: -5px auto;
}

.testimonials__author_active {
	opacity: 1;
}

/* ------------------------------------ */



.top-footer {
	background: var(--bg-dark);
	padding: 90px 0px;
}
.top-footer__container {
	display: flex;
	gap: 30px;
}

.top-footer__title {
	color: var(--primary);
}
.top-footer__links {
	margin: 46px 0px 0px 0px;
	display: flex;
	flex-direction: column;
	gap: 18px;
}
.top-footer__link {
	font-weight: 500;
	font-size: 1.125;
	line-height: 1.3;
	color: var(--text-light);
}

.top-footer__link:hover {
	text-decoration: underline;
}

.bottom-footer {
	background-color: var(--primary);
	padding: 38px 0px;
}
.bottom-footer__container {
	display: flex;
	justify-content: space-between;
}
.bottom-footer__nav {
	display: flex;
	gap: 40px;
}
.bottom-footer__link {
	transition: all 0.3s ease 0s;
}
.bottom-footer__link:hover {
	color: var(--text-hover);
}
.bottom-footer__contact a {
	color: var(--text-dark);
	text-decoration: underline;
}
